.page-header
  %h1 Edit Announcement

= form_for announcement, url: announcement_path(announcement), builder: Formal::Builder do |f|
  = render partial: "form", locals: { f: f}

= link_to 'Back', announcements_path
