.select-pane
  position: absolute
  top: 403px
  left: 600px
  background-color: white
  border: solid #ccc 1px
  padding: 30px, 10px, 10px, 10px
  t-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  -moz-box-shadow: 6px 6px 16px #000000
  -webkit-box-shadow: 6px 6px 16px #000000
  box-shadow: 6px 6px 16px #000000
  height: 400px
  overflow: scroll

  .close
    float:right
    margin: 5px 5px 0 0

.image
  width: 220px
  height: 250px
