!!! 5
%html
  %head
    %title Clan Keith Usa
    %= stylesheet_link_tag    "application", :media => "all"
    %= javascript_include_tag "application"
    %= csrf_meta_tags
  %body
    .container
      .row
        .span12.banner
      .row
        .nav-bar.nav-fixed-top
          .nav-bar-inner
            .container
              %ul.nav
                - sections.each do |s|
                  %li.dropdown
                    %a(href="#" class="dropdown-toggle" data-toggle="dropdown")= s.name
                  %ul.dropdown-menu
                    - s.pages.each do |page|
                      %li= link_to(page)
                    - s.galleries.each do |gallery|
                      %li= link_to(gallery)
                    - s.stores.each do |store|
                      %li= link_to(store)
      .row
        .span9
          <%= yield %>
        .span3
          %p Sidebar Stuff
      .footer
          
